[user]
  name = Mark van der Velden
[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
[core]
  editor = vim
  preloadindex = true
[branch]
  autosetupmerge = true
[http]
  postBuffer = 5 MiB
[merge]
  tool = vimdiff
  ff = no
[rerere]
  autoupdate = true
  enabled = true
[alias]
  st = status -sb
  revert = checkout
  plog = log --oneline --graph --decorate
