[user]
	name = Mark van der Velden
[color]
	diff = auto
	status = auto
  branch = auto
[core]
  editor = vim
[merge]
  tool = vimdiff
  ff = no
[alias]
	st = status -sb
	revert = checkout
  plog = log --oneline --graph --decorate

    
